footer {
	background-color: #565656;
}

li {
	list-style-type: none;
}

ul {

}

.detail1, .detail2, .social-network {
	color: white;
	padding-bottom: 10px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.footer__left {
	width: 55%;
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	font-size: 25px;
	width: 50%;
	color: white;
}

.list2 {
	width: 66%;
}

.detail {
	display: flex;
	justify-content: flex-start;
}

.detail1 {
	width: 45%;
}

.network {
	padding-bottom: 10px;
}

.footer__date {
	text-align: center;
	font-size: 15px;
	color: white;
	padding-bottom: 10px;
}

@media screen and (max-width: 1023px) {
	.product__title {
		font-size: 25px;
	}
}

@media screen and (max-width: 767px) {

}