footer {
	background-color: #565656;
}

li {
	list-style-type: none;
}

ul {

}

.a {
	color: white;
	padding-bottom: 10px;
}

.footer__container {
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
}

.footer__logo {
	margin-right: 20px;
	font-size: 25px;
	color: white;
}

.footer__list {
	margin-bottom: 20px;
	margin-right: 20px;
}

.footer__list li {
	margin-bottom: 8px;
}

.footer__list.-social {
	margin-left: auto;
	margin-right: 0;
}

.network {
	padding-bottom: 10px;
}

.footer__date {
	text-align: center;
	font-size: 15px;
	color: white;
	padding-bottom: 10px;
}

@media screen and (max-width: 1023px) {
	
}

@media screen and (max-width: 767px) {
	.footer__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.footer__list.-social {
		margin-left: initial;
	}
}